.card3{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
    .text3{
        color:antiquewhite;
        margin: 0 50px;
        font-weight: bolder;
        font-size: large;
    }
}